
#card_heading{
    background-color: rgb(5, 56, 92);
    color: rgb(249, 244, 244);
}
ul{
    font-size: 17px;
}



#textArea{
    height: 90px;
}



.card-header{
    color: white;
}

.card-body{
    background-color: rgb(164, 156, 156);
}

#body { 
    background-image: linear-gradient(90deg, rgb(82, 84, 82), black);
}

td{
    background-color: rgb(169, 176, 182);
}